<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>The Bicycle Shop | Programming With Ariyan</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <header>
          <h1>The Bicycle Shop</h1>
        </header>
      </nav>

      <div class="bicycleShop">
        <% for (let product of bicycle){ %>
        <div class="bicycle">
          <div class="bicycle__image">
            <img src="/image/<%= product.image%>" alt="<%=product.name%>" />
          </div>
        
          <div class="bicycle__name">
            <a href="/bicycle?id=<%= product.id %>"><%= product.name%></a>
          </div>
        
          <div class="bicycle__rating">
           
            <span class="fa fa-star checked"></span>
            
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
        
          <div class="bicycle__price">
            <p class="current_price">Rs 
              <% if(product.hasDiscount){ %>
                <%= product.originalPrice * (100-product.discount)/100%>
              <% } else { %>
                <%= product.originalPrice %>
              <%  } %></p>
              
            <p class="old_price">Rs <%= product.originalPrice %></p>
          </div>
          
          
          <% if(product.hasDiscount) {%>
          <div class="discount__rate"><p>40% Off</p></div>
          <%}%>
        </div>
      <%} %>
      </div>
    </div>
  </body>
</html>
